{% extends 'base.html' %}

{% block content %}
<form id="post_form" method="post" action="/blog/add_post/" enctype="multipart/form-data">
  {% csrf_token %}
  {{form}}
<!-- equivalent since we're not adding custom features
     enctype multipart used to allow user to upload files via the form
  {% for hidden in form.hidden_fields %}
    {{hidden}}
  {% endfor %}

  {% for field in form.visible_fields %}
    {{field.errors}}
    {{field.label_tag}}
    {{field}}
  {% endfor %}
-->
  <input type="submit" name="submit" value="Create Post">
</form>
{% endblock %}
